{# 继承模板 #}
{% extends "base.html" %}

{#把自己的内容，放到模板里面相应的位置#}

{% block page-css %}
    <style>
    .fixed-bottom {
        display: block;
        {#position: absolute;#}
        left: 0;
        bottom: 10px;
        border: 1px solid #f0f0f0;
    }
    #checkModal {
        margin-top: 100px;
    }
    </style>
{% endblock %}

{% block page-main %}
    <h1 class="page-header">管理后台 <small>购物车</small></h1>

    <!--面板 开始-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">购买列表</h3>
        </div>
        <div class="panel-body">
            <!--搜索框 开始-->
            <div class="row my-table-toolbar">
                <div class="col-md-3">
                        <input id="member-id" type="text" class="form-control pull-right" placeholder="输入会员ID（选填）" value="{{ summary.member_id }}">
                </div>
                <div class="col-md-3">
                        <input id="enter-to-add" type="text" class="form-control" placeholder="输入条码ISBN...">
                </div>
                <div class="col-md-2 pull-right">
                    <button id="del_all" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i>&nbsp;清空</button>
                    <button id="checkOut" class="btn btn-success pull-right" data-toggle="modal" data-target="#checkModal">
                        <i class="fa fa-upload fa-fw"></i>&nbsp;结算
                    </button>
{#                    <a id="checkOut" class="btn btn-success pull-right" href="/cart_submit/"><i class="fa fa-upload fa-fw"></i>&nbsp;结算</a>#}
                </div>
            </div>
            <!--搜索框 结束-->
            <!--购买列表 开始-->
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th style="display: none">id</th>
                    <th>ISBN</th>
                    <th>书名</th>
                    <th>套装数量</th>
                    <th>定价</th>
                    <th>售价</th>
                    <th>会员价</th>
                    <th>会员ID</th>
                    <th>余量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {% for book in book_list %}
                    <tr>
                        <td style="display: none">{{ book.id }}</td>
                        <td>{{ book.book_id }}</td>
                        <td>{{ book.book.name }}</td>
                        <td>{{ book.book.sets }}</td>
                        <td>{{ book.book.ori_price }}</td>
                        <td>{{ book.book.sell_price }}</td>
                        <td>{{ book.book.plus_price }}</td>
                        <td>{{ book.member_id }}</td>
                        <td>{{ book.book.stock.total }}</td>
                        <td>
                            <button class="del_sel">删除</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr id="none">
                        <td colspan="9" class="text-center">暂时没有数据</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <!--会员列表 结束-->

            {# 汇总栏 开始 #}
            <div class="fixed-bottom" style="width: 100%; height: 50px">
                <span style="font-size: xx-large">合计</span>
                <span style="font-size: x-large; margin-left: 60px">原价：</span>
                <span id="ori-price" style="font-size: xx-large">{{ summary.ori_price}}</span>
                <span style="font-size: x-large; margin-left: 20px">售价：</span>
                <span id="sell-price" style="font-size: xx-large;">{{ summary.sell_price}}</span>
                <span style="font-size: x-large; margin-left: 20px">会员价：</span>
                <span id="plus-price" style="font-size: xx-large;">{{ summary.plus_price}}</span>
                <span style="font-size: x-large; margin-left: 20px">待支付：</span>
                <span id="need-paid" style="font-size: xx-large; color: red">{{ summary.need_paid}}</span>
            </div>
            {# 汇总栏 结束 #}

        </div>
    </div>
    <!--面板 结束-->
    {# 结算模态框 开始 #}
    <div id="checkModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">确认结算？</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/cart_submit/" method="post">
                        {% csrf_token %}
                        <div class="form-group" style="display: none">
                            <label for="inputNeed" class="col-sm-4 control-label">待付金额：</label>
                            <div class="col-sm-6">
                                <input name="needPaid" type="text" class="form-control" id="inputNeed" value="{{ summary.need_paid }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputActually" class="col-sm-4 control-label">实付金额：</label>
                            <div class="col-sm-6">
                                <input name="actuallyPaid" type="text" class="form-control" id="inputActually" value="{{ summary.need_paid }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-4">
                                <button type="button" class="btn btn-info btn-block" data-dismiss="modal">取消</button>
                            </div>
                            <div class="col-md-offset-2 col-md-4">
                                {# Enter自动提交问题 未解决 #}
                                <input type="submit" class="btn btn-success btn-block" value="提交"
                                       onkeypress="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    {# 结算模态框 结束 #}


{% endblock %}

{% block cart-class %}
    active
{% endblock %}

{% block page-js %}
    <script>
    {#扫码回车添加到购物车#}
        $("#enter-to-add").bind("keydown", function (e) {
            if(e.which === 13) {
                e.preventDefault();
                var isbn = $(this).val();
                $(this).val("");
                var member_id = $("#member-id").val();
                $.ajax({
                    url: "/cart_list/",
                    type: "post",
                    data: {"isbn": isbn, "member_id": member_id},
                    success: function (data) {
                        data = JSON.parse(data);
                        var $tbody = $("tbody");
                        var price = data.price;
                        if ($("tbody td").length === 1) {
                            $tbody.empty()
                        }
                        $tbody.append(data.trele);
                        $("#ori-price").text(price.ori_price);
                        $("#sell-price").text(price.sell_price);
                        $("#plus-price").text(price.plus_price);
                        $("#need-paid").text(price.need_paid);
                        $("#inputActually").val(price.need_paid);
                        $("#inputNeed").val(price.need_paid)
                    }
                })
            }
        });
    {#清空购物车#}
        $("#del_all").on("click", function () {
            $.ajax({
                url: "/cart_del/",
                type: "post",
                data: {"del_id": 0},
                success: function (data) {
                    data = JSON.parse(data);
                    $tbody = $("tbody");
                    $tbody.empty();
                    $tbody.append(data.trele);
                    $("#ori-price").text("0.00");
                    $("#sell-price").text("0.00");
                    $("#plus-price").text("0.00");
                    $("#need-paid").text("0.00");
                    $("#member-id").val("")
                }
            })
        });
    {#删除某一个商品#}
        $("tbody").on("click", ".del_sel", function () {
            $trEle = $(this).parent().parent();
            del_id = $trEle.children().eq(0).text();
            $.ajax({
                url: "/cart_del/",
                type: "post",
                data: {"del_id": del_id},
                success: function (data) {
                    data = JSON.parse(data);
                    $trEle.remove();
                    if (data.trele !== "") {
                        $("tbody").append(data.trele)
                    }
                    var price = data.price;
                    $("#ori-price").text(price.ori_price);
                    $("#sell-price").text(price.sell_price);
                    $("#plus-price").text(price.plus_price);
                    $("#need-paid").text(price.need_paid);
                    $("#inputActually").val(price.need_paid);
                    $("#inputNeed").val(price.need_paid)
                }
            })
        })
    </script>

{% endblock %}